<section>
  <div class="container center-block">
    <input type="text" />
    <div class="row row-cols-4">
      <div class="col">
        <button class="btn btn-primary">C</button>
      </div>
      <div class="col" >
        <button class="btn btn-primary">H</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">B</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">/</button>
      </div>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <button class="btn btn-primary">7</button>
      </div>
      <div class="col">
        <button class="btn btn-primary" (onClick)="Calc.Input1">8</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">9</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">X</button>
      </div>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <button class="btn btn-primary">4</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">5</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">6</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">-</button>
      </div>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <button class="btn btn-primary">1</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">2</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">3</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">+</button>
      </div>
    </div>
    <div class="row row-cols-4">
      <div class="col">
        <button class="btn btn-primary">+/-</button>
        
      </div>
      <div class="col">
        <button class="btn btn-primary">,</button>
      </div>
      <div class="col">
        <button class="btn btn-primary">0</button>
        

      </div>
      <div class="col">
        <button class="btn btn-primary">=</button>
        
      </div>

    </div>
  </div>
</section>
