<section>
  <div class="calc-container">
    <div class="container-item calc">
      <input type="text" value="{{ display }}" readonly />
      <div class="row row-cols-4">
        <div class="col">
          <button class="btn btn-primary" (click)="clear()">C</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="showHistoric()">H</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clearHistoric()">AC</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickOperation('/')">/</button>
        </div>
      </div>
      <div class="row row-cols-4">
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('7')">7</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('8')">8</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('9')">9</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickOperation('*')">X</button>
        </div>
      </div>
      <div class="row row-cols-4">
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('4')">4</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('5')">5</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('6')">6</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickOperation('-')">-</button>
        </div>
      </div>
      <div class="row row-cols-4">
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('1')">1</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('2')">2</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('3')">3</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickOperation('+')">+</button>
        </div>
      </div>
      <div class="row row-cols-3">
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('.')">,</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="clickDigit('0')">0</button>
        </div>
        <div class="col">
          <button class="btn btn-primary button-equals" (click)="clickResult()">=</button>
        </div>
      </div>
    </div>
    <div class="container-item historic" *ngIf="toDisplay">
      <h3>Historic</h3>
      <div  *ngFor="let d of dataSource" class="col-4">
        <p>
          {{ d.value1 }} {{ d.operatorType }} {{ d.value2 }} = {{ d.total }}
        </p>
      </div>
    </div>
  </div>
</section>